body {
	margin: 0;
	padding: 0;
}

.name {

	
	background-color:#b0e0e6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.name img {
	margin-right: 50px;
}

.resume-styles div {
	padding:10px;
}

.image{
	border-radius:150px;
}
h1{
	font-size:40px;
}
h2{
	font-size:30px;
}
